body {
    overflow: hidden;
}

.under {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.over {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: all 2s;
    opacity: 1;
}

div.fade {
    opacity: 0;
}

div.slide_right {
    opacity: 0;
    transform: translateX(100vw)scaleX(0);
}

div.slide_left {
    opacity: 0;
    transform: translateX(-100vw)scaleX(0);
}

div.slide_top {
    opacity: 0;
    transform: translateY(100vh)scaleY(0);
}

div.slide_bottom {
    opacity: 0;
    transform: translateY(-100vh)scaleY(0);
}

div.spiral {
    opacity: 0;
    transform: translate(0)scale(0)rotate(180deg);
}

div.spiral2 {
    opacity: 0;
    transform: translate(0)scale(0)rotate(-180deg);
}